@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model Stylist

<h1>@Model.StylistName - your client:</h1>

<ul id="boxed">
  @if (Model.StylistClient != null && Model.StylistClient.Any())
  {
    foreach (var order in Model.StylistClient)
    {
      <li>@order.ClientName</li>
    }
    <a href="/Stylist/@Model.StylistID/AddClient">another one?</a>
    <br>
    <a href="/Stylist">stylists</a>

  }
  else
  {
    <li>no clients yet</li>
    <a href="/Stylist/@Model.StylistID/AddClient">add one</a>
    <br>
    <a href="/Stylist">stylists</a>
  }

</ul>
