@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using System.Linq



@if (Model == null || Model.StylistName == null)
{
  <h1>which stylist?</h1>

  <div id="boxed">
    <form method="post" action="/Stylist/NewClient">
      <div>
        <label for="clientName">what's your name</label>
        <input type="text" id="clientName" name="clientName" required />
        <br>
        <label for="stylistId">pick someone</label>
        <select name="stylistId" id="stylistId">

          @* @if (ViewBag.Stylists != null && ViewBag.Stylists.Any())
        { *@

          @foreach (var stylist in ViewBag.Stylists)
          {
            <option value="@stylist.StylistID">@stylist.StylistName</option>
          }


          @* }
        else
        {
        <option>no stylists yet</option>

        } *@


        </select>
      </div>


      @* @if (ViewBag.Stylists != null && ViewBag.Stylists.Any())
    { *@

      <button type="submit">gimme</button>

      @* } *@



    </form>
  </div>
}
else
{
  <h1>new client for @Model.StylistName</h1>

  <div id="boxed">

    <form method="post" action="/Stylist/@Model.StylistID/NewClient">
      <div>
        <label for="clientName">whozit:</label>
        <input type="text" id="clientName" name="clientName" required />
      </div>
      <button type="submit">gimme</button>
    </form>

    <a href="/stylist">stylists</a>
  </div>
}

}




<h4 id="boxed"><a href='/stylist'>stylists</a><br><a href='/menu'>main menu</a></h4>
