@{
  Layout = "_Layout";
}
<h4><a href='/client' class='img-glow new'>New</a></h4>
<h4><a href='/stylist' class='img-glow load'>Load</a></h4>
<h4><a href='https://www.greatclips.com/' class='img-glow options'>Options</a></h4>
<h4><a href='https://en.wikipedia.org/wiki/Brexit' class='img-glow exit'>Exit</a></h4>