@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<Stylist>

<h1>Stylists</h1>


@if (Model != null && Model.Any())
{
  @foreach (var stylist in Model)
  {
    <div>
      <h4># @stylist.StylistID - <a href="/Stylist/Clients/@stylist.StylistID">@stylist.StylistName</a> -
        @stylist.StylistDescription</h4>
    </div>
  }
}
else
{
  <h4>no stylists yet</h4>
}


<h4><a href='/stylist/new'>new stylist</a></h4>
